.services__container{
    grid-template-columns: 2fr 2fr;
    column-gap: 1.875rem;
    row-gap: 1.875rem;
}

.services__card{
    text-align: center;
    padding: 1.875rem;
    border-radius: var(--border-radius);
    background-color: var(--container-color);
    transition: all 0.3s ease-in-out;
}

.services__card:hover{
    transform: translateY(-10px);
}
.services__card:nth-child(1){
    background-color: rgb(243, 197, 80);
    box-shadow: 0 5px 20px 0 rgba(243 197 80 / 50%);
}
.services__card:nth-child(2){
    background-color: rgb(255,76,96);
    box-shadow: 0 5px 20px 0 rgba(255 76 96 / 50%);
}
.services__card:nth-child(3){
    background-color: rgb(108,108,299);
    box-shadow: 0 5px 20px 0 rgba(108 108 299 / 50%);
}
.services__card:nth-child(4){
    background-color: rgb(134, 232, 78);
    box-shadow: 0 5px 20px 0 rgba(134 232 78 / 50%);
}
.services__card:nth-child(5){
    background-color: rgb(173, 50, 245);
    box-shadow: 0 5px 20px 0 rgba(173 50 245 / 50%);
}

.services__card:nth-child(6){
    background-color: rgb(252, 127, 242);
    box-shadow: 0 5px 20px 0 rgba(252 127 245 / 50%);
}

.services__title{
    font-size: var(--h3-font-size);
    margin-bottom: 1rem;
    color: #ffffff;
}

.services__description{
    color: #f8f9fa;
}