.s2{
    position: absolute;
    left: 10%;
    top: 20%;
}
.s3{
    position: absolute;
    left: 14%;
    bottom: 40%;
}
.s4{
    position: absolute;
    left: 8%;
    bottom: 10%;
}
.s5{
    position: absolute;
    left: 50%;
    top: 5%;
}
.s6{
    position: absolute;
    left: 36%;
    bottom: 10%;
}
.s7{
    position: absolute;
    top: 20%;
    right: 25%;
}
.s8{
    position: absolute;
    right: 24%;
    bottom: 20%;
}
.s9{
    position: absolute;
    right: 2%;
    top: 10%;
}
.s10{
    position: absolute;
    right: 11%;
    top: 45%;
}
.s11{
    position: absolute;
    bottom: 10%;
    top: 15%;
    left: 30%;
}
.s12{
    position: absolute;
    left: 94%;
    top: 84%;
}
.s13{
    position: absolute;
    left: 27%;
    top: 60%;
}
.s14{
    position: absolute;
    right: 2%;
    top: 12%;
}