.aside{
    left: 0;
    top: 0;
    position: fixed;
    background: var(--body-color);
    border-right: 1px solid rgba(0,0,0,0.10);
    padding:1.5rem 2.5rem ;
    width: 110px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    z-index: 10;
}
.nav__logo{
    margin-bottom: 35px;
}
.nav__list{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.nav__link{
    font-size: 1.5rem;
    color: var(--title-color);
    font-weight: var(--font-bold);
    transition: .3s;
}
.nav__link:hover{
    color: hsl(43, 78%, 63%);

}
.copyright{
    color: black;
    font-size: var(--small-font-size);
    transform: rotate(-180deg);
    writing-mode: vertical-rl;
    margin-top: 18px;
}