main{
  margin-left: 110px;
}

main > div {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}


.active-section {
  opacity: 1;
  transform: translateY(0);
}


.inactive-section {
  opacity: 0;
  transform: translateY(20px);
  pointer-events: none;
}
